spring:
  application:
    name: service-beta
  datasource:
    url: jdbc:h2:mem:betadb
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
server:
  port: 8082
services:
  alpha:
    base-url: http://localhost:8081
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
